<li style="float:left; position:relative; display:block;width:150px;color:white;">
    <a style="color: white !important; text-decoration: none;" href="@Url.Action("GioHang","GioHang")">
        GIỎ HÀNG (@ViewBag.SL)
    </a>
</li>
